@font-face {
    font-family: 'SpiderMan-Sans';
    src: url('fonts/The\ Amazing\ Spider-Man.ttf');
    font-style: normal;
    font-weight: normal;
}
html{
    scroll-padding-top: 150px;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(18,28,111,1) 100%);
    
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-family: SpiderMan-Sans;
    font-size: 35px;
    text-align: center;
}
header{
    display: flex;
    position: fixed;
    height: 70px;
    background-color: #b11313ff;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.articles{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    padding-top: 100px;

}
.articulo{
    padding: 20px;
    background-color: rgb(231, 230, 230);
    border-radius: 20px;
    margin: 10px;
    margin: 45px auto;
    border-top: 1px solid transparent;
    width: 80%;
    border: 5px solid black;
    box-shadow: 0px 10px 20px 0px rgb(242, 3, 3)
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 70px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
#spider-main{
  width: 100px;
  padding: 0 15px;
  float: right;
}
nav a:hover{
  font-size: 650;
  color: white;
}
a p{
    font-family: 'SpiderMan-Sans';
    font-weight: 600;
    font-size: 30px;
}
.spider-comic img{
    height: 150px;
    float: right;
    margin-left: 10px;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #b11313ff;
}
.redes{
    justify-content: center;
    
}
.author{
    justify-content: center;
}
footer img{
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
#animation {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
#animation-2{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 
#arana{
    height: 100px;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
#gif{
    height: 100px;
    float: right;
}
@media(max-width: 600px){
  header{
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 20px;
    align-items: center;
  }
  .logo img{
    height: 40px;  
  }
  html{
    scroll-padding-top: 200px;
  }
}